@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url('../fonts/Nunito.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lobster.otf') format('truetype');
}

.inline-block {
    display: inline-block;
}

.thin {
    font-weight: 100;
}

.orange {
    color: orange;
}

.blue {
    color: darkslategray;
}

.text-right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.section-title {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.section-title.displayed {
    opacity: 1;
}

/* ========================== */

body {
    font-family: "Nunito", sans-serif;
    margin-top: 0;
    background-color: #DEE2E7;
    overflow-x: hidden;
    width: 101%;
}

body::-webkit-scrollbar-track
{
	border: 1px solid darkslategray;
	background-color: darkslategray;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: darkslategray;
}

body::-webkit-scrollbar-thumb
{
	background-color: #FFFFFF;
}

.wrapper {
    overflow-x: hidden;
}

.wrapper-body {
    overflow-y: hidden;
    overflow-x: hidden;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

/* ========================== */

#navbar {
    height: 80px;
    padding: 0 60px;

    display: flex;
    align-items: center;

    background-color: #FFFFFF;

    transform: scaleY(0);
    transition: transform 0.2s ease;
}

#navbar.displayed {
    transform: scaleY(1);
}

.left-navbar {
    width: 70%;
}

.right-navbar {
    width: 32%;
}

#navbar-logoname {
    font-size: 25px;
    font-family: "Lobster", serif;
}

#navbar-logoname:hover {
    color: orange;
    transition: color 0.1s ease;
}

#navbar-menus {
    list-style-type: none;
}

#navbar-menus li {
    display: inline;

    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 27px; /* animation purposes */

    font-weight: 600;
}

#navbar-menus li > a {
    height: 100%;
}

#navbar-menus li:hover {
    cursor: pointer;
    border-bottom: 5px solid darkslategrey;
    transition: border-bottom 0.15s;
}

#navbar-menus li:hover > a {
    color: orange;
    transition: color 0.1s ease;
}

#navbar-links {
    text-align: right
}

#navbar-links li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
}

#navbar-links li i {
    color: black;
}

#navbar-links li i:hover {
    color: orange;
    transition: color 0.1s ease;
}

/* ========================== */

#presentation-div {
    text-align: center;
    color: white;

    padding: 180px calc(10% + 50px);
}

@media screen and (max-width: 670px){
    #presentation-div {
        padding-top: 7%;
    }
}

#presentation-div::before {
    content: "";
    position: absolute;
    width: 0;
    height: 650px;
    top: 0;
    left: -50%;
    z-index: -1;
    background: darkslategray 0 0 repeat;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);

    transition: width 1.2s ease-in;
}

#presentation-div.displayed::before {
    width: 200%;
}

#catchphrase {
    font-size: 3.5em;
    opacity: 0;

    transition: opacity 0.7s ease;
}

#catchphrase.displayed {
    opacity: 1;
}

/* ========================== */

#skills-div {
    padding: 35px 10% 60px 10%;
}

#skills-div .column {
    text-align: center;
    padding-top: 45px;
}

#first-skill-column,
#second-skill-column,
#third-skill-column {
    opacity: 0;
    transition: opacity 0.4s ease;
}

#first-skill-column.displayed,
#second-skill-column.displayed,
#third-skill-column.displayed {
    opacity: 1;
}

/* ========================== */

#portfolio-div {
    padding: 35px 10% 60px 10%;
    color: white;
}

#portfolio-div #portfolio-twisted-background {
    position: absolute;
    width: 200%;
    margin-left: -30%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    background-color: darkslategray;
}

#portfolio-div .col-md-9 {
    padding-top: 45px;
}

#projects {
    padding-top: 50px;
}

.project {
    padding: 25px;
    margin-bottom: 15px;
    height: 360px;

    opacity: 0;
    transition: opacity 0.4s ease;
}

.project.displayed {
    opacity: 1;
}

.project .project-content {
    text-align: center;
}

.project-img {
    width: 150px;
    height: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 5px solid #DEE2E7;

    transition: border 0.8s ease;
}

.project-img:hover {
    border: 5px solid orange;
}

.project-img.div {
    background-color: #DEE2E7;
}

.project-img.div h2 {
    line-height: 150px;
    vertical-align: middle;
    white-space: nowrap;
    color: #333;
    margin: 0;
}

.project-content .project-infos {
    text-align: left;
    padding: 15px;
}

.project-infos .project-abstract {
    margin-bottom: 0;
}

.project-infos h3 {
    margin: 0;
}


/* ========================== */

#contact-div {
    padding: 35px 10% 60px 10%;
}

#contact-div {
    padding-top: 45px;
    text-align: center;
}

/* ========================== */

#developed-by-div {
    padding: 35px 10% 60px 10%;
    text-align: center;
    background-color: darkslategray;
    color: white;
}